# Supabase Backend Configuration
SUPABASE_URL=https://slcpvmpsynkqdozvlsii.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_jqJACnQHmCMcGjt0kG6Sug_ddknIbAA

# ImgBB Image Hosting API
IMGBB_API_KEY=576f654932a2b7398e765cf27d8c73d4

# GEMINI_API_KEY: Optional
GEMINI_API_KEY=
